:root {
  --white: #f5f5f5;
  --linen: #f7ece1;
  --violet: #532742;
  --rose-quartz: #a58a92;
  --red-btn-clr: #bf060399;
  --red-btn-hover-clr: #bf0603aa;
  --shadow-clr: rgb(83, 39, 66, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--linen);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-wrap: break-word;
  height: 100vh;
  position: relative;
}

button,
input {
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  cursor: pointer;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--violet);
  padding: 1rem;
  box-shadow: 0 3px 4px var(--shadow-clr);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--linen);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container img {
  height: 3rem;
  width: 3rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
  cursor: pointer;
  filter: invert(98%) sepia(81%) saturate(411%) hue-rotate(298deg)
    brightness(104%) contrast(94%);
}

.header .container img:hover {
  transform: rotate(45deg) scale(1.1);
}

.header .container img:active {
  transform: rotate(45deg) scale(1);
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-auto-rows: 18.75rem;
  gap: 2rem;
  padding: 3rem 0;
}

.container .library-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.container .library-info .info {
  text-align: center;
  padding: 1rem 0;
}

.red-background {
  background-color: var(--red-btn-clr);
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
  border: 2px solid var(--rose-quartz);
  border-radius: 0.5rem;
  min-height: 250px;
  background-color: var(--white);
  box-shadow: 2px 2px 6px var(--shadow-clr);
  transition: transform 0.2s ease;
}

.book-card h3 {
  font-style: italic;
}

.book-card label {
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.book-interaction label > input[type='checkbox'] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--violet);
  border-radius: 3px;
  outline: none;
  background-color: var(--white);
}

.book-interaction label > input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  background-color: var(--violet);
}

.book-card .book-interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.book-card .book-interaction button {
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.book-card .book-interaction button:hover {
  background-color: var(--red-btn-hover-clr);
}

#modal.modal-open {
  opacity: 1;
  transform: scale(1);
  display: block;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s, transform 0.2s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.modal-content {
  background-color: var(--violet);
  margin: 10% auto;
  padding: 1.5rem 3rem;
  border: 1px solid #888;
  border-radius: 1rem;
  width: 18.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  text-align: center;
  color: var(--white);
}

.close {
  color: var(--white);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--rose-quartz);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

form .form-item {
  position: relative;
  margin-bottom: 1.75rem;
  display: flex;
  align-items: center;
}

form .form-item input {
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}

form .form-item:nth-child(4) label {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

form .form-item input + label {
  position: absolute;
  font-size: 1rem;
  opacity: 0.7;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

form .form-item input:focus + label,
form .form-item input:valid + label {
  top: -0.75rem;
  left: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--linen);
}

form .form-item input[type='checkbox'] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--linen);
  border-radius: 3px;
  outline: none;
  background-color: var(--white);
}

form .form-item input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  background-color: var(--rose-quartz);
}

form button[type='submit'] {
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
