*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input {
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  cursor: pointer;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}
